/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Asterisk wildcard selector to override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #121212;
    /* Project styles */
    color: white;
    font-family: "Rubik", sans-serif;
}


/* Component styles */
.component {
    background-color: #4e4345;
    border-radius: 5px;
    margin: 2%;
}

/* Button styles */
.btn {
    border-style: solid;
    border-color: #8b8b8b;
    color: #b54e63;
    font-size: 200%;
    margin: 5%;
    padding: 5%;
}