/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Asterisk wildcard selector to override browser default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #282828;
    /* Project styles */
    color: white;
    font-family: "Rubik", sans-serif;
}

/* Header */
header {
    background-color: #4e4345;
}

#logo {
    font-size: 300%;
    padding-top: 2%;
}

/* bpm counter styles */
#bpm-count {
    font-size: 400%;
    width: 95%;
    margin: 5%;
    padding: 5%;
}

/* Component styles */
#bpm-count-container,
#st-btn-container,
.btn-container {
    background-color: #4e4345;
    border-radius: 5px;
    width: 92%;
    margin: 4%;
}

/* Button styles */
.btn {
    border-style: solid;
    border-color: #8b8b8b;
    color: #b54e63;
    font-size: 200%;
    width: 90%;
    margin: 5%;
    padding: 5%;
}

/* Media Queries*/
/*Tablets and up (992px+)*/

@media screen and (min-width: 992px) {
    /* bpm counter styles */
#bpm-count {
    font-size: 600%;
}

/* Component styles */
#bpm-count-container {
    width: 60%;
    margin: 5%;
}

#st-btn-container {
    border-radius: 5px;
    width: 20%;
    height: 20%;
    margin: 15% 5%;
}

}
